body{
    background-color: #333 !important;
}
.card_div{
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
}

.publish_div p{
    text-align: center;
    margin-top: 20px ;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:none !important;
}
ul.nav.nav-tabs li.active{
    border-bottom: 3px solid #0af;
}
.action_div ul{
    margin-top:10px;
}
label.label_right{
    float: right;
    font-weight: normal !important;
}
div.message_div .row{
    padding: 10px;
}
div.message_div{
    padding-right: 20px;
}
textarea{
    resize: none;
}
.video_container_div{ position: relative;}
#multi_video_container_div{
    margin-top: 20px;
}
#local_video_div{
    margin-top:20px;
}
/*#multi_video_container_div{*/
    /*position: absolute;*/

   /**/
    /*top: 0px;*/
    /*left: 50%;*/

    /*top: 0px;*/
/*}*/
#multi_video_container_div .live_stream_div{
    float: left;
}
@keyframes textAppearence {
    0%   {top:8px;}
    25%  {top:6px;}
    50%  {top:4px;}
    75%  { top:2px;}
    100% { top:0px;}
}
.multi_text_container_div{
    position: absolute;
    overflow: auto;
    z-index: 9002;
    margin:5px;
    height: 400px;
    width: 130px;
    color:#fff;
    padding: 5px;
}
.show_none{
    display: none;
}

.full_width{
    width:100%;
}
.run-text-animation {
  animation: textAppearence 4s; 
}
.fullScreen {
	position:fixed !important;
    z-index:9009 !important;
    left:0 !important;
	width:100% !important;
	height:100% !important;
	margin-top:-100px !important;
}
.small_loader {
    height: 120px;
    width: 120px;
}
.vcx_bar{
cursor:pointer;
}

#local_video_div{
    height: auto !important;
    width: auto !important;

}
.col-md-3 {
    padding:15px !important;
}
.classic_vcx_stream
{
    background-color: black;
}


.border-b-0
{
    border-bottom: 2px solid black;
}


.border-b-active {
    border-bottom: 2px solid red;
}
.name-div
{
    color: white;
    position: absolute;
    top: 5%;
    left: 5%;
}

@media screen and (min-width: 1690px) {
    .classic_vcx_stream
    {
        height: 400px !important;
        width: 430px !important;
    }
}


@media screen and (max-width: 1690px) {
    .classic_vcx_stream
    {
        height: 300px !important;
        width: 310px !important;
    }
}
@media screen and (max-width: 1280px) {
    .classic_vcx_stream
    {
        height: 200px !important;
        width: 200px !important;

    }
}
@media screen and (max-width: 980px) {
    .classic_vcx_stream
    {
        height: 200px !important;
        width: 230px !important;
    }
}
@media screen and (max-width: 736px) {
    .classic_vcx_stream
    {
        height: 200px !important;
        width: 230px !important;
    }
}
@media screen and (max-width: 480px) {
    .classic_vcx_stream
    {
        height: 200px !important;
        width: 250px !important;

    }
}

